# Introduction to dataframes using pandas
*pandas* is a library that allows the use of tabular data in Python. It can be used to parse excel files, .csv files, even .txt files into *dataframes*, a special data type used by pandas.

This document is a whirlwind tour of pandas. For more info, check out the [official documentation](https://pandas.pydata.org/docs/getting_started/intro_tutorials/02_read_write.html#min-tut-02-read-write).

## 1. Importing data

In [2]:
import pandas as pd # Libraries in Python must be pre-installed and imported before use. By convention, pandas is imported with the name 'pd'

In [3]:
data = pd.read_csv('Data/export.csv') 
# Source: https://statswales.gov.wales/Catalogue/Health-and-Social-Care/NHS-Hospital-Activity/Referrals/referrals-by-localhealthboard-month
# This dataset presents a view of the number of referrals by LHB and month

Jupyter Notebook displays pandas dataframes really well:

In [4]:
data

                  Unnamed: 0  ... Aug-2021
0  All Wales LHB (Provider)   ...     97729
1  All Wales LHB (Provider)   ...     18935
2                        NaN  ...      1606
3                        NaN  ...     11742
4                        NaN  ...     15521
5                        NaN  ...         .
6                        NaN  ...     13696
7                        NaN  ...         .
8                        NaN  ...     20853
9                        NaN  ...     15376

[10 rows x 22 columns]

Notice that the first two columns did not get parsed perfectly. This is due to the way that the csv file was formatted by statswales. This is easily fixed using pandas

The first column looks like it could be dropped without losing any information

Column names can be accessed through the `.columns` attribute

In [5]:
data.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Jan-2020 ', 'Feb-2020 ', 'Mar-2020 ',
       'Apr-2020 ', 'May-2020 ', 'Jun-2020 ', 'Jul-2020 (3)', 'Aug-2020 (1)',
       'Sep-2020 ', 'Oct-2020 ', 'Nov-2020 ', 'Dec-2020 ', 'Jan-2021 ',
       'Feb-2021 (4)', 'Mar-2021 ', 'Apr-2021 ', 'May-2021 ', 'Jun-2021 ',
       'Jul-2021 ', 'Aug-2021 '],
      dtype='object')

Either the column name or its position in this list can be used to drop it. The line below uses its name:

In [6]:
data.drop(columns='Unnamed: 0',        
          inplace=True)                   # the 'inplace' parameter means that this function modifies the actual dataframe, 
                                          # by default it returns a new dataframe

In [7]:
data

                                          Unnamed: 1  ... Aug-2021
0                                                NaN  ...     97729
1     Betsi Cadwaladr University Local Health Board   ...     18935
2                 Powys Teaching Local Health Board   ...      1606
3        Hywel Dda University Local Health Board (1)  ...     11742
4            Swansea Bay University Health Board (2)  ...     15521
5  Abertawe Bro Morgannwg University Local Health...  ...         .
6      Cwm Taf Morgannwg University Health Board (2)  ...     13696
7          Cwm Taf University Local Health Board (2)  ...         .
8       Aneurin Bevan University Local Health Board   ...     20853
9      Cardiff & Vale University Local Health Board   ...     15376

[10 rows x 21 columns]

In [8]:
data.rename(columns= {'Unnamed: 1':'Health Board'}   
            , inplace=True)

In [9]:
data

                                        Health Board  ... Aug-2021
0                                                NaN  ...     97729
1     Betsi Cadwaladr University Local Health Board   ...     18935
2                 Powys Teaching Local Health Board   ...      1606
3        Hywel Dda University Local Health Board (1)  ...     11742
4            Swansea Bay University Health Board (2)  ...     15521
5  Abertawe Bro Morgannwg University Local Health...  ...         .
6      Cwm Taf Morgannwg University Health Board (2)  ...     13696
7          Cwm Taf University Local Health Board (2)  ...         .
8       Aneurin Bevan University Local Health Board   ...     20853
9      Cardiff & Vale University Local Health Board   ...     15376

[10 rows x 21 columns]

The first element in the 'Health Board' column is 'NaN' or 'not a number'. It is supposed to represent 'All Health Boards', and it can easily be changed to reflect that.

The `.iloc` method can be used to slice the dataframe, selecting only specific rows, columns, or even single cells. 

Since indexes in Python start at 0, then the top left cell will have 'coordinates' (0,0):

In [10]:
data.iloc[0,0]

nan

This cell needs to be changed, which can be done just like any other Python variable assignment:

In [11]:
data.iloc[0,0] = 'All Health Boards'

In [12]:
data

                                        Health Board  ... Aug-2021
0                                  All Health Boards  ...     97729
1     Betsi Cadwaladr University Local Health Board   ...     18935
2                 Powys Teaching Local Health Board   ...      1606
3        Hywel Dda University Local Health Board (1)  ...     11742
4            Swansea Bay University Health Board (2)  ...     15521
5  Abertawe Bro Morgannwg University Local Health...  ...         .
6      Cwm Taf Morgannwg University Health Board (2)  ...     13696
7          Cwm Taf University Local Health Board (2)  ...         .
8       Aneurin Bevan University Local Health Board   ...     20853
9      Cardiff & Vale University Local Health Board   ...     15376

[10 rows x 21 columns]

Now the data is imported properly and initial analysis can begin!

In [13]:
data.set_index(data.iloc[:,0], inplace=True)

## 2. Initial analysis

There are several ways to get some basic information about a dataframe. One of them is `.info()` which displays the size of the dataframe, both in terms of memory and

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, All Health Boards to Cardiff & Vale University Local Health Board
Data columns (total 21 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Health Board  10 non-null     object
 1   Jan-2020      10 non-null     object
 2   Feb-2020      10 non-null     object
 3   Mar-2020      10 non-null     object
 4   Apr-2020      10 non-null     object
 5   May-2020      10 non-null     object
 6   Jun-2020      10 non-null     object
 7   Jul-2020 (3)  10 non-null     object
 8   Aug-2020 (1)  10 non-null     object
 9   Sep-2020      10 non-null     object
 10  Oct-2020      10 non-null     object
 11  Nov-2020      10 non-null     object
 12  Dec-2020      10 non-null     object
 13  Jan-2021      10 non-null     object
 14  Feb-2021 (4)  10 non-null     object
 15  Mar-2021      10 non-null     object
 16  Apr-2021      10 non-null     object
 17  May-2021      10 non-null     object
 18  Jun-2021      10 non-null     object
 19  Jul-2021      10 non-null     object
 20  Aug-2021      10 non-null     object
dtypes: object(21)
memory usage: 1.7+ KB